<footer class="text-center text-lg-start bg-body-tertiary text-muted" style="margin-top: 50px;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Kết nối với chúng tôi qua mạng xã hội:</span>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Contact support & Features -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column: About -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-comments me-3"></i>Hệ thống giáo dục trực tuyến EduOnline
                    </h6>
                    <p>
                        Với EduOnline, bạn có thể dễ dàng tìm kiếm, đăng ký và tham gia các khóa học để nâng cao kiến thức và kỹ năng. Trải nghiệm một cách học tập mới mẻ, tiện lợi và hiệu quả, kết nối với giảng viên và cộng đồng học tập mọi lúc, mọi nơi!
                    </p>
                </div>
                <!-- Grid column: Categories -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Tính Năng
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Đăng ký khóa học</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Hỏi đáp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Theo dõi tiến độ học tập</a>
                    </p>

                </div>
                <!-- Grid column: Support & Help -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Hỗ Trợ
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Câu Hỏi Thường Gặp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Chính Sách Quyền Riêng Tư</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Báo Cáo Vấn Đề</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Hỗ Trợ Kỹ Thuật</a>
                    </p>
                </div>
                <!-- Grid column: Contact -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
                    <p><i class="fas fa-home me-3"></i> Đại học OU</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        support@eduonline.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> 0123456789</p>
                </div>
            </div>

